###### Requirements without Version Specifiers ######
absl-py
aiohttp
amply
anndata
apex
appdirs
apptools
argcomplete
arviz
asn1crypto
astor
astropy
astunparse
atomicwrites
attrs
autopep8
Babel
backcall
bcrypt
beautifulsoup4
bidict
biom-format
biopython
bitarray
black
bleach
bokeh
boto3
botocore
Bottleneck
cachetools
cffi
cftime
chardet
cloudpickle
colorama
coloredlogs
configparser
coverage
crc32c
cryptography
cupy
cvxpy
cxxfilt
Cython
dask-jobqueue
datrie
deepdiff
Deprecated
diff-match-patch
dill
dipy
distlib
distributed
dnspython
docutils
dropbox
ecdsa
ecos
entrypoints
envisage
fabric
fastcache
feather-format
filelock
flake8
ftputil
future
GenoTools
gensim
gevent
gffutils
gitdb
GitPython
globus-sdk
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
graphviz
greenlet
grpcio
helpdev
html5lib
HTSeq
httplib2
humanfriendly
hyperlink
hypothesis
idna
idna-ssl
igv-reports
imagecodecs-lite
imageio
importlib-metadata
iniconfig
invoke
ipykernel
ipyparallel
ipython
isort
jedi
jeepney
jmespath
json5
jupyter-client
jupyter-core
jupyterlab-pygments
Keras
Keras-Preprocessing
keyring
kiwisolver
lazy-object-proxy
line-profiler
lmdb
lxml
lz4
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-venn
mayavi
meshio
mistune
mne
mock
more-itertools
msgpack
multidict
mypy-extensions
natsort
nbclient
nbconvert
nbformat
nest-asyncio
netCDF4
networkx
nibabel
nilearn
numba
numpydoc
olefile
openpyxl
ordered-set
osqp
packaging
pandas-plink
param
paramiko
path
pathlib2
pathspec
pbr
pickleshare
Pillow
pkginfo
plotly
plotnine
pluggy
pooch
prettytable
prometheus-client
prompt-toolkit
psutil
ptyprocess
PuLP
py
pycodestyle
pycosat
pycparser
pycrypto
pycryptodomex
pydicom
pydocstyle
pydot
pyerfa
pyface
pyfaidx
Pygments
pygraphviz
pyls-black
pyls-spyder
pymongo
PyNaCl
pynvim
pyodbc
pyOpenSSL
pyqtgraph
pyrsistent
pyshp
PySocks
pystan
pytabix
pytest-astropy
pytest-cov
pytest-doctestplus
pytest-filter-subpackage
pytest-mock
pytest-openfiles
pytest-remotedata
python-hostlist
python-jsonrpc-server
python-language-server
python-Levenshtein
python-lzo
pytools
PyVCF
pyvista
pyviz-comms
PyWavelets
pyzmq
QDarkStyle
qdldl
QtAwesome
qtconsole
redis
regex
requests
requests-oauthlib
rope
rsa
Rtree
ruamel-yaml-conda
s3transfer
scanpy
scikit-learn
scooby
scs
seaborn
SecretStorage
setuptools-scm
sh
simplejson
sinfo
smart-open
smmap
snakemake
snakeviz
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinx-rtd-theme
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
statsmodels
stdlib-list
sympy
tensorboard
tensorboard-plugin-wit
tensorflow-estimator
terminado
Theano
threadpoolctl
three-merge
tifffile
toml
toolz
toposort
tornado
tqdm
traitlets
traits
traitsui
traittypes
Twisted
twobitreader
typed-ast
typing-extensions
tzlocal
ujson
Unidecode
urllib3
virtualenv
watchdog
wcwidth
wrapt
wurlitzer
xarray
xlrd
XlsxWriter
xopen
yapf
yarl
zipp
zope.event
zope.interface
zstandard

###### Requirements with Version Specifiers ######
aioeasywebdav==2.4.0
alabaster==0.7.12
argh==0.26.2
astroid==2.3.3
async-generator==1.10
async-timeout==3.0.1
Automat==20.2.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
basemap==1.2.1
bcolz==1.2.1
bioread==1.0.4
bkcharts==0.2
blaze==0.11.3
blinker==1.4
boto==2.49.0
brotlipy==0.7.0
bz2file==0.98
certifi==2020.6.20
click==7.1.2
clyent==1.2.2
colorcet==2.0.1
colorlover==0.3.0
colormath==3.0.0
ConfigArgParse==1.2.3
configobj==5.0.6
constantly==15.1.0
contextlib2==0.6.0.post1
crcmod==1.7
cvxopt==1.2.5
cycler==0.10.0
cytoolz==0.11.0
cyvcf2==0.30.4
dask==2.19.0
datashader==0.11.1
datashape==0.5.4
decorator==4.4.2
defusedxml==0.6.0
DendroPy==4.5.1
descartes==1.1.0
docopt==0.6.2
et-xmlfile==1.0.1
fastrlock==0.5
filechunkio==1.8
Flask==1.1.2
Flask-Cors==3.0.8
fsspec==0.7.4
gast==0.3.3
geneimpacts==0.3.7
genoml==2.0.0
genoml2==1.0.0b4
get-version==2.1
gitdb2==4.0.2
glob2==0.7
gmpy2==2.1.0b1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
h5py==2.10.0
hdf5storage==0.1.15
HeapDict==1.0.1
holoviews==1.14.0
imagesize==1.2.0
imgaug==0.4.0
incremental==17.5.0
intervaltree==3.0.2
ipython-genutils==0.2.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
joblib==0.14.0
jsonpickle==1.4.1
jsonschema==3.2.0
kaleido==0.1.0
Keras-Applications==1.0.8
legacy-api-wrap==0.0.0
llvmlite==0.35.0
locket==0.2.0
mccabe==0.6.1
mizani==0.7.2
mkl-service==2.3.0
mpi4py==3.0.3
mpmath==1.1.0
multipledispatch==0.6.0
mysql-connector-python==8.0.22
navigator-updater==0.2.1
nltk==3.4.4
nose==1.3.7
numexpr==2.7.0
numpy==1.17.4
oauth2client==4.1.3
oauthlib==3.0.1
odo==0.5.1
opt-einsum==0+untagged.61.gd905544.dirty
palettable==3.3.0
pandas==1.2.2
pandocfilters==1.4.2
panel==0.10.2
parso==0.7.0
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pipreqs==0.4.10
plumbum==1.6.9
ply==3.11
Pmw==2.0.1
protobuf==3.13.0
py2bit==0.3.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybedtools==0.8.1
pycairo==1.20.0
pyct==0.4.6
pycurl==7.43.0.6
pyfasta==0.5.2
pyflakes==2.2.0
pygpu==0.7.6
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.3.1
pynndescent==0.5.1
pyopencl==2020.3.1
PyOpenGL==3.1.5
pyparsing==2.4.5
pyproj==1.9.6
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pysam==0.16.0.1
pysftp==0.2.9
pysmi==0.3.4
pysurfer==0.11.0
pytest==6.2.1
pytest-arraydiff==0.3
pytest-astropy-header==0.1.2
pytest-runner==5.2
python-dateutil==2.8.1
python-docx==0.8.10
python-irodsclient==0.8.2
python-picard==0.4
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
QtPy==1.9.0
ratelimiter==1.2.0
reportlab==3.5.59
retrying==1.3.3
rpy2==3.2.2
ruffus==2.8.4
runipy==0.1.5
scikit-image==0.18.1
scikit-misc==0.1.1
scipy==1.3.2
Send2Trash==1.5.0
service-identity==18.1.0
Shapely==1.7.0
simplegeneric==0.8.1
SimpleITK==2.0.2
singledispatch==3.4.0.3
sip==4.19.24
six==1.13.0
sklearn==0.0
slacker==0.14.0
smmap2==3.0.1
snowballstemmer==2.0.0
sockjs-tornado==1.0.6
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
structure-threader==1.3.7
svgutils==0.3.1
tables==3.6.1
tbb==2021.1.1
tblib==1.6.0
tensorflow==2.2.0
termcolor==1.1.0
terminaltables==3.1.0
testpath==0.4.4
torch==1.7.0
torchvision==0.8.1
twython==3.7.0
umap==0.1.1
umap-learn==0.5.1
unicodecsv==0.14.1
uritemplate==3.0.1
vtk==8.2.0
webencodings==0.5.1
Werkzeug==1.0.1
xgboost==0.90
xlwt==1.3.0
xmlrunner==1.7.7
xmltodict==0.12.0
yarg==0.1.9
zict==2.0.0
